@import url(http://fonts.googleapis.com/css?family=Roboto+Slab);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

* {
    margin: 0;
    padding: 0;
}

body {
    color: #252525;
    padding: 19px 0 0 73px;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-family: "Roboto Slab",serif;
    font-size: 26px;
    font-weight: 400;
    letter-spacing: -0.026em;
    line-height: 1.3em;
}

h2 {
    margin: 17px 0 18px;
}

h2,
p {
    font-size: 16px;
    font-weight: 400;
}

a {
    color: #F34B66;
    text-decoration: none;
}

article {
    width: 650px;
}

h1+div {
    font-size: 14px;
    margin-top: 4px;
}

h1+div span {
    color: #89898B;
}

h1+div a {
    color: #252525;
    text-decoration: none;
}

p {
    text-align: justify;
    line-height: 1.74em;
}

.download {
    text-align: center;
    margin-top: 15px;
}