body{
	margin-top: 75px;
	}	
header { 
	height: 75px; 
	}
header li{
	border-top:1px solid #666; 
	padding: 2% 0; 
	display: block; 
	padding-left:8%;
	}
header li:hover{
	background: #474C4F;
}
header .full{
	display:none;
	}
header  .mob>h2{
	padding:2% 4.5%; 
	font-size: 18pt; 
	float:left; 
	line-height:32pt;
	}
header .icon-menu{
	font-size:28pt; 
	padding:2.6%;
	}
header nav>ul{
	display: none;
	}

.blue{
	padding-left: 7.3%; 
	height: 345px;
	}
.blue>div{
	width:465px;
	}
.blue h2{
	font-size: 28.7pt;
	line-height: 44px;
	margin-bottom: 28px; 
	padding-top:101px;
	}
.blue a{ 
	font-size:16.5pt;
	}
.blue i{
	font-size: 22pt;
	line-height: 22pt;
	}
.black{
	height: 150px;
	}
.black>div{
	line-height:150px;
	font-size: 15pt;
	}

.black .text{
	padding-left: 8.3%; 
	}

.img>div{
	width:100%; 
	display:block; 
	height:557px;
	}
.img>div:first-child{
	line-height:400pt; 
	height:557px;
	}
article {
	padding: 75px 79px 0;
	}
article .col{
	width: auto; 
	font-size:18.5pt; 
	padding:2% 0 4%;
	}
article p{
	line-height:45px;
	}


