@import url(http://fonts.googleapis.com/css?family=Roboto:300,400&subset=cyrillic-ext);
* {
	margin: 0;
	padding: 0;
}
body {
	font: 400 14px/22px 'Roboto', sans-serif;
	color: #222;
	min-width: 330px;
	max-width: 2100px;
	margin: 0 auto;
}
a {
	color: #f44b4b;
	text-decoration: none;
}
h2 {
	font: 300 23px/28px 'Roboto', sans-serif;
	color: #5b90f8;
	margin-top: 5px;
}

section {
	margin: 0 auto;
}
p {
	margin-top: 19px;
	padding-right: 18px;
}
.block {
	width: 330px;
	height: 100%;			/*Для того чтобы блоки выглядели адекватно. С overflow вид ужасен:)*/
	min-height: 180px;
	float: left;
	margin: .5px 32px;
}
.clearfix {
	clear: both;
}
.ico1,
.ico2,
.ico3,
.ico4,
.ico5,
.ico6 {
	width: 110px;
	height: 98px;
	float: left;
	background: url('../images/sprite.png') no-repeat;
}
.ico1 {
	background-position: 0 0;
}
.ico2 {
	background-position: -110px 0;
}
.ico3 {
	background-position: -220px 0;
}
.ico4 {
	background-position: -330px 0;
}
.ico5 {
	background-position: -440px 0;
}
.ico6 {
	background-position: -550px 0;
}
.desc {
	margin: 0 0 0 110px;
}