/*-----------------------css reset----------------------------------*/
* {
	margin: 0;
	padding: 0;
	list-style: none;
}
/*-----------------------/css reset----------------------------------*/

/*-----------------------general rules------------------------------*/
body {
	font: 400 12px/14.4px Georgia, serif;
}
a {
	text-decoration: none;
}
h2 {
	font-size: 22px;
	font-weight: 400;
	margin: 13px 0;
	letter-spacing: .1px;
	color: #444;
}
h3 {
	font-size: 12px;
	font-weight: 700;
	line-height: 18px;
	letter-spacing: -.6px;
	color: #444;
}
/*-----------------------/general rules------------------------------*/

/*-----------------------common styles------------------------------*/
.clearfix:after {
	display: block;
	clear: both;
	content: ' ';
}
.section-margin {
	margin: 0 20px;
}
/*-----------------------/common styles------------------------------*/

/*-----------------------layout rules------------------------------*/
.pull-left {
	float: left;
}
.pull-right {
	float: right;
}
/*-----------------------/layout rules------------------------------*/

/*-----------------------common blocks------------------------------*/
.container {
	width: 1000px;
	margin: 0 auto;
	background: #e0e0e0;
}
.topBar {
	padding: 0 20px;
	background: #2d2928;
}
.topLinks {
	font: 12px/14.4px Georgia, serif;
	float: left;
	padding: 19px 0;
}
.topLinks li {
	float: left;
	padding: 0 5px;
	border-right: 1px solid #c4c4c4;;
}
.topLinks li:first-child {
	padding-left: 2px;
}
.topLinks li:last-child {
	border-right: none;
}
.topLinks a {
	color: #c4c4c4;
}
.topSocial {
	float: right;
	padding: 10px 0;
}
.round {
	display: block;
	float: right;
	width: 32px;
	height: 32px;
	margin: 0 3px 0 6px;
	border-radius: 16px;
	background: #fff;
}
.logo {
	height: 187px;
	border-bottom: 3px double #999;
}
.logo p {
	text-align: center;
	text-transform: uppercase;
	
}
.logo .title {
	font-size: 100px;
	line-height: 120px;
	letter-spacing: 2px;
	padding: 7px 0;
	word-spacing: 3px;
}
.logo .slogan {
	font-size: 20px;
	line-height: 24px;
	letter-spacing: .55px;
	word-spacing: 2px;
	padding: 7px 0;
}
.topNavigation {
	height: 35px;
	border-bottom: 3px double #999;
}
.topNavigation ul {
	padding: 10px 0;
}
.topNavigation li {
	font-size: 14px;
	line-height: 14px;
	float: left;
	margin-right: 40px;
	letter-spacing: .15px;
	text-transform: uppercase;
}
.topNavigation a {
	color: #333;
}
.topNavigation a:hover,
.topNavigation a:focus {
	color: #999;
}
footer {
	height: 166px;
	padding: 20px 0;
	border-bottom: 3px double #999;
}
footer h3 {
	font-size: 13px;
	line-height: 13px;
	font-weight: 700;
	margin-bottom: 7px;
	padding: 14px 0 7px;
	color: #666;
	border-bottom: 1px solid #999;
	letter-spacing: -.8px;
}
.copyright {
	font-size: 12px;
	line-height: 12px;
	padding: 35px 0;
	color: #787878;
}
/*-----------------------/common blocks------------------------------*/

/*-----------------------page styles------------------------------*/
.featured {
	height: 477px;
	padding: 35px 0;
	border-bottom: 3px double #999;
}
.featured p {
	margin: 0 0 18px;
	color: #666;
	font-size: 16px;
	line-height: 19.2px;
}
.content {
	height: 689px;
	padding: 14px 0;
	border-bottom: 3px double #999;
}
.content h2 {
	font-size: 16px;
	line-height: 16px;
	margin-bottom: 15px;
	padding: 6px 0 12px;
	text-transform: uppercase;
	color: #666;
	border-bottom: 1px solid #999;
}
.content p {
	color: #666;
}
.top-content {
	height: 345px;
	margin-bottom: 1px;
	border-bottom: 3px double #999;
}
.bottom-content h3 {
	margin-bottom: 10px;
	color: #982115;
	line-height: 14px;
}
.ad li {
	float: left;
	margin: 30px 1px 20px 0;
	padding: 10px 0 10px 10px;
	vertical-align: middle;
	letter-spacing: .5px;
	text-transform: uppercase;
	background: #2d2928;
}
.ad li a {
	color: #c0c0c0;
}
.ad-elem1 {
	width: 140px;
}
.ad-elem2 {
	width: 115px;
}
.ad-elem3 {
	width: 107px;
}
.ad-elem4 {
	width: 195px;
}
.cll-size a,
.clr-size a {
	font-size: 11px;
	float: right;
	padding: 3px;
	text-transform: uppercase;
	color: #9d362d;
}
.cll-size a:after,
.clr-size a:after {
	content: ' »';
}
.list {
	margin: 11px 0;
}
.list a {
	letter-spacing: -.3px;
	color: #982115;
}
.list a:after {
	content: ' »';
}
.r-title {
	font-size: 13px;
	line-height: 13px;
	font-weight: 700;
	margin: 11px 0;
	padding-top: 6px;
	letter-spacing: -.6px;
	color: #666;
	border-top: 5px solid #999;
}
.right-menu a {
	font-size: 13px;
	line-height: 21.8px;
	letter-spacing: .6px;
	color: #982115;
}
.right-menu a:before {
	content: '» ';
}
.f-list {
	font: 400 12px/19.2px Verdana, sans-serif;
}
.f-list a {
	color: #982115;
}
.fl-size {
	width: 500px;
}
.fr-size {
	width: 430px;
	margin-left: 30px;
}
.cl-size {
	width: 600px;
}
.cll-size {
	width: 290px;
}
.clr-size {
	width: 290px;
	margin-left: 20px;
}
.bl-size {
	width: 130px;
	margin-right: 26px;
}
.cr-size {
	width: 160px;
	margin-left: 10px;
	padding: 10px 0;
}
.cm-size {
	width: 160px;
	margin-left: 30px;
	padding: 10px 0;
}
.f-size {
	width: 180px;
	margin-right: 15px;
}
.last,
.ad li:last-child {
	margin-right: 0;
}
.big-image {
	width: 500px;
	height: 320px;
	margin: 0 0 4px;
}
.middle-image {
	width: 100px;
	height: 100px;
}
.middle2-image {
	width: 122px;
	height: 80px;
}
.small-image {
	width: 60px;
	height: 60px;
}
.lg-image {
	width: 160px;
	height: 600px;
	margin: 5px 0;
}
.img-block {
	box-sizing: border-box;
	padding: 4px;
	border: 1px solid #999;
}
.small-img-block {
	width: 70px;
	height: 70px;
	margin: 0 8px 19px 0;
}
.middle-img-block {
	width: 110px;
	height: 110px;
	margin: 0 12px 11px 0;
}
.large-img-block {
	width: 132px;
	height: 90px;
	margin: 0 8px 14px 0;
}
/*-----------------------/page styles------------------------------*/

/*-----------------------fixs------------------------------*/
.pp-fix {
	margin-top: 9px;
}
.pp-fix2 {
	margin-top: -4px;
}
/*-----------------------/fixs------------------------------*/