@import url(http://fonts.googleapis.com/css?family=Roboto+Slab);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

* {
	margin: 0;
	padding: 0;
}

body {
  width: 651px;
  font: 400 16px 'Open Sans';
  padding: 26px 41px 9px 67px;
  color: #252525;
}

h1 {
  font: 400 26px 'Roboto Slab';
	letter-spacing: -0.7px;
}

.subtitle {
  font-size: 14px;
  padding-top: 2px;
}

.style_website {
  padding-top: 9px;
}

p {
  text-align: justify;
  line-height: 28px;
  padding-top: 16px;
}


.span {
  color: #8f8c89;
}

.download {
  color: #f24b4b;
}

.span, .download {
  color: #f24b4b;
}

.download {
  text-align: center;
}