html,
body {
	overflow-x: hidden;
}
.ch {
	text-align: right;
}
.chl {
	text-align:left;
}
.but {
	text-align: center;
}
.top-bar .row, .row {
	max-width: 62.5%; 
}
.content {
	margin-top: 1%;
}
.logo {
	float: left;
	background: url("../images/logo.png") 0 0 no-repeat;
}
.top-bar .name h1 a {
	padding: 0 50px;
}
.top-bar ul {
	margin: 10px 0 0 0;
}
.menu {
	list-style: none;
	text-align: center;
}
.menu li {
	display: inline;
	margin: 0 50px 0 0;
}

.buttons {
	cursor: pointer;
	color: blue;
	text-decoration: underline;
	list-style: none;

}
.buttons .is-active {
	cursor: default;
	color: red;
	text-decoration: none;
}
.remove-all {
	margin-top: 20px;
	margin-bottom: 10px;
}

/* пример выполнения */
.css1 * {
	background-color: yellow;
	border: 1px solid red;
}
.css2 p {
	background-color: yellow;
	border: 1px solid red;
}
.css3 li {
	background-color: yellow;
	border: 1px solid red;
}
.css4 p span {
	background-color: yellow;
	border: 1px solid red;
}
.css5 li.class-name {
	background-color: yellow;
	border: 1px solid red;
}
.css6 p#id-shnik {
	background-color: yellow;
	border: 1px solid red;
}
.css7 p:first-line {
	background-color: yellow;
	border: 1px solid red;
}
.css8 p:first-letter {
	background-color: yellow;
	border: 1px solid red;
}
.css9 a {
	background-color: yellow;
	border: 1px solid red;
}
.css10 a:active {
	background-color: yellow;
	border: 1px solid red;
}
.css11 a:visited{
	color: red;
	background-color: yellow;
	border: 1px solid red;
}
.css12 div > ul > li {
	background-color: yellow;
	border: 1px solid red;
}
.css13 li + li {
	background-color: yellow;
	border: 1px solid red;
}
.css14 ul > li:first-child {
	background-color: yellow;
	border: 1px solid red;
}
.css15 a:hover {
	background-color: yellow;
	border: 1px solid red;
}
.css16 [type] {
	background-color: yellow;
	border: 1px solid red;
}
.css17 [type="text"]  {
	background-color: yellow;
	border: 1px solid red;
}
.css18 [class~='btn-lg'] {
	background-color: yellow;
	border: 1px solid red;
}
.css19 p.afbef:before {
	content: '~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ';
	background-color: yellow;
	border: 1px solid red;
}
.css19 p.afbef:after {
	content: ' ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~';
	background-color: yellow;
	border: 1px solid red;
}
.css20 h2 + p {
	background-color: yellow;
	border: 1px solid red;
}
.css21 h2 + p > span {
	background-color: yellow;
	border: 1px solid red;
}
.css22 ul > li > span + ul {
	background-color: yellow;
	border: 1px solid red;
}
.css23 ul:before {
	content: 'ul ';
	background-color: yellow;
	border: 1px solid red;
}
.css23 ul:after {
	content: ' /ul';
	background-color: yellow;
	border: 1px solid red;
}
.css24 [class] {
	background-color: yellow;
	border: 1px solid red;
}
.css25 p:hover {
	background-color: yellow;
	border: 1px solid red;
}
.css26 div ~ ul  {
	background-color: yellow;
	border: 1px solid red;
}
.css27 div ~ p > span {
	background-color: yellow;
	border: 1px solid red;
}
.css28 [href^="#"] {
	background-color: yellow;
	border: 1px solid red;
}
.css29 [href$="link1"] {
	background-color: yellow;
	border: 1px solid red;
}
.css30 [href*="link"] {
	background-color: yellow;
	border: 1px solid red;
}
.css31 [class|="form"] {
	background-color: yellow;
	border: 1px solid red;
}
.css32 li:last-child {
	background-color: yellow;
	border: 1px solid red;
}
.css33 p:empty {
	min-height: 15px;
	background-color: yellow;
	border: 1px solid red;
}
.css34 div:target {
	background-color: yellow;
	border: 1px solid red;
}
.css35 [type="checkbox"]:checked + label {
	background-color: yellow;
	border: 1px solid red;
}
.css36 p::selection {
	background-color: lime;
	border: 1px solid black;
}
.css36 p::-moz-selection {
	background-color: lime;
	border: 1px solid black;
}
.css37 input:enabled {
	background-color: yellow;
	border: 1px solid red;
}
.css37 input:disabled {
	background-color: lime;
	border: 1px solid black;
}
.css38 li:not(.class-name) {
	background-color: yellow;
	border: 1px solid red;
}
.css39 p:nth-child(3n) {
	min-height: 15px;
	background-color: yellow;
	border: 1px solid red;
}
.css40 li:nth-child(2n+1) {
	background-color: yellow;
	border: 1px solid red;
}