@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url(http://fonts.googleapis.com/css?family=Roboto:300);

* {
	margin: 0;
	padding: 0;
}

.body {
  width: 753px;
  height: 586px; 
  min-width: 500px;
  max-width: 1575px;
  font: 400 16px 'Roboto', sans-serif; 
  color: #252525;
  margin: 30px 22px 40px 28px;
}

.block {
  width: 310px;
  height: 155px; 
  float: left;
  margin-right: 70px;
}

span {
  font-weight: bold;
}

.block h1 {
  font: 500 23px 'Roboto', sans-serif; 
  color: #5b90f8;
  padding-top: 16px;
}

.block p {
  font: 400 14px 'Roboto', sans-serif;
  width: 201px;
  color: #444444;
  padding-top: 24px;
  line-height: 22px;
}

.block .class {
  width: 201px;
  height: 173px; 
  overflow: visible;
  float: left; 
}

.image1, .image2, .image3, .image4, .image5, .image6 {
  width: 106px;
  height: 91px;
  float: left;
  padding-top: 32px;
}

.image1 {
background: no-repeat url('../images/sprite.png') 0 0;
}
.image2 {
background: no-repeat url('../images/sprite.png') 0 -125px;
}
.image3 {
background: no-repeat url('../images/sprite.png') 0 -250px;
}
.image4 {
background: no-repeat url('../images/sprite.png') 0 -375px;
}
.image5 {
background: no-repeat url('../images/sprite.png') 0 -500px;
}
.image6 {
background: no-repeat url('../images/sprite.png') 0 -625px;
}
