@import url(http://fonts.googleapis.com/css?family=Roboto:400,300&subset=latin,cyrillic-ext);
div {
  padding: 25px;
  margin: 10px;
}
h3 {
  font: 300 23px/28px Roboto; 
  color: #5b90f8;
  padding-top: 5px;
  margin-top: 0px;
}
p {
  font: 400 14px/22px Roboto;
}
span {
  float:left;
  margin-right:80px;
  padding-left:112px;
  width:205px;
  height:180px;
}
.sprite {
  background: no-repeat url("sprite.jpg");
}
.sprite1 {
  background-position:0px 0px;
}
.sprite2 {
  background-position:0px -194px;
}
.sprite3 {
  background-position:0px -388px;
}
.sprite4 {
  background-position:0px -582px;
}
.sprite5 {
  background-position:0px -776px;
}
.sprite6 {
  background-position:0px -970px;
}