.container {
    position: absolute;
    width: 500px;
    height: 100px;
    top: 50%;
    left: 50%;
    margin: -50px 0 0 -250px;
}
.container button {
    display: inline-block;
    padding: 6px 12px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #2e6da4;
    border-radius: 4px;
    color: #fff;
    background-color: #337ab7;
}

.container button:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}

.message {
    position: absolute;
    width: 320px;
    height: 100px;
    background: rgba(0, 0, 0, .8);
    border-radius: 10px;
    box-sizing: border-box;
    padding: 7px;
    color: #fff;
    transition: bottom 1s linear;
}

.message p,
.message h4 {
    margin: 7px;
}

.message h4 {
    padding: 3px 22px;
}

.rt {
    right: 10px;
    top: 10px;
}

.rb {
    right: 10px;
    bottom: 10px;
}

.lt {
    left: 10px;
    top: 10px;
}

.lb {
    left: 10px;
    bottom: 10px;
}

.title {
    text-transform: capitalize;
}

.ico {
    display: inline-block;
    width: 24px;
    height: 24px;
    float: left;
}

.success {
    background: url(../images/success.png) no-repeat;
}

.error {
    background: url(../images/error.png) no-repeat;
}

.warning {
    background: url(../images/warning.png) no-repeat;
}

.info {
    background: url(../images/info.png) no-repeat;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
    text-align: center;
    line-height: 12px;
    cursor: pointer;
    background: rgba(255, 0, 0, .8);
    border-radius: 3px;
    transition: all .3s linear;
}

.close:hover {
    line-height: 16px;
    top: 9px;
    right: 9px;
    width: 17px;
    height: 17px;
}